# Virtual environment
venv/
myvenv/
env/

# Python cache and compiled files
__pycache__/
*.py[cod]
*.pyo

# Django database and settings
db.sqlite3
*.db
.env
config/settings_local.py

# Static and media files (local)
static/
media/

# Logs
*.log
logs/

# IDE/editor files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Translation files
*.mo

# OS-specific files
.DS_Store
Thumbs.db
